body {
  font-family: monospace;
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}

.title {
  margin: 50px 0 50px 0;
}

.divider {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #232323;
}

.intro {
  margin: 50px 0 50px 0;
}

.signature {
  margin-top: 15px;
}

.footer {
  position:fixed;
  bottom: 0;
  width: 100%;
}
