
<div class="col-md-6 col-sm-12 text-center mb50 mt100">
  <h1>Where to find us...</h1>
  <div class="contact-address mt100">
    <p>1 Bird street</p>
    <p>Dogtown</p>
    <p>CA7 0OG</p>
  </div>
</div>

<div class="col-md-6 col-sm-12 text-center mb50 mt100">
  <h1>...and if you'd like a map!</h1>
  <div id="map" class="mt20"></div>
</div>
