
<div class="row">
  <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
    <h2>Where to find us</h2>
  </div>
  <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
    <h2>Map</h2>
  </div>
</div>
