
{{#link-to "home"}}
  <h1 class="text-center mt50 mb50"><em>Welcome to the Pet Shop!</em></h1>
{{/link-to}}

<div class="divider"></div>

<div class="text-center mt50 mb50">

  <button class="btn" {{action 'showAnimals'}} >Animals</button>

  <button class="btn" {{action 'showContact'}} >Contact</button>

</div>

{{outlet}}
