
<div class="menu">

  <ul><h1>{{link-to "Welcome to the Pet Shop!" "home" }}</h1></ul>

  <ul><h3>{{link-to "Animals" "home.animals" }}</h3></ul>
  <ul><h3>{{link-to "Contact" "home.contact" }}</h3></ul>

  <div class="divider"></div>
  
</div>

{{outlet}}
