
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 text-center mt100 mobile-mt150">
  <h1>Welcome to the Pet Shop!</h1>
  <p>
    Looking for that special, funny little creature in your life?
  </p>

</div>

{{outlet}}
