
<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 text-center">
  <h2>Where to find us</h2>
  <p>1 Bird street</p>
  <p>Dogtown</p>
  <p>CA7 0OG</p>
</div>

<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12">
  <h4>(map goes here!)</h4>
</div>
