<div class="container">

  {{nav-bar}}

  <div class="divider"></div>

  <div class="container body">
    {{outlet}}
    {{product-list}}
    {{contact}}
  </div>

  <section class='footer'>
    <article class='footer-content-container'>
      <p class='signature'>©2016 Pet Shop!</p>
    </article>
  </section>


</div>
