<div class="container body">
  <div class="row">

  {{#link-to "home"}}
    <h1 class="text-center mt50 mb50"><em>Welcome to the Pet Shop!</em></h1>
  {{/link-to}}

  <div class="divider"></div>

    {{outlet}}

  </div>
</div>

<footer class="footer text-center">
  <p>©2016 Pet Shop!</p>
</footer>
