<div class="container">
  <div>
    <ul><h1><em>Welcome to the Pet Shop!</em></h1></ul>
  </div>

  {{outlet}}

  <div class="divider"></div>

  <div class="container body">
    <div class="row">
      {{animals}}
      {{contact}}

    </div>
  </div>

  <footer>
    <div class="divider"></div>
    <p class="signature">©2016 Pet Shop!</p>
  </footer>

</div>
