<div class="container">

  <header class="header">
    <nav class="navbar menu">
      <ul>
        <h1><em>Pet Shop!</em></h1>
        <li><h3>Contact</h3></li>
      </ul>
    </nav>
  </header>

  <div class="divider"></div>

  <div class="body">
    {{outlet}}
    {{product-list}}
  </div>

</div>
