<div class="container">

  <h1 class="title text-center"><em>Welcome to the Pet Shop!</em></h1>

  <div class="divider"></div>

  <div class="container body">
    <div class="row">

      {{outlet}}

    </div>
  </div>

  <footer class="text-center">
    <div class="divider"></div>
    <p class="signature">©2016 Pet Shop!</p>
  </footer>

</div>
