<div class="container">

  <div class="menu">
    <h1 class="shop-name">
      <em>Pet Shop!</em>
    </h1>
    <div>
      <h3>Contact</h3>
    </div>
  </div>

  <div class="divider"></div>

  <div class="body">
    {{outlet}}
    {{product-list}}
  </div>

</div>
