
<div class="container body">
  <div class="row">
    <div class="col-md-12 menu mobile-center">

      <div class="col-md-4 col-xs-12">
        <ul><h1>{{link-to "Pet Shop!" "home" }}</h1></ul>
      </div>

      <div class="col-md-8 col-xs-12">
        <ul><h3>{{link-to "Animals" "home.animals" }}</h3></ul>
        <ul><h3>{{link-to "Contact" "home.contact" }}</h3></ul>
      </div>

    </div>

    {{outlet}}

  </div>
</div>

<footer class="footer text-center">
  <p>©2016 Pet Shop!</p>
</footer>
