<div class="container body">
  <div class="row">

  <h1 class="title text-center"><em>Welcome to the Pet Shop!</em></h1>

  <div class="divider"></div>

    {{outlet}}

  </div>
</div>

<footer class="footer text-center">
  <p>©2016 Pet Shop!</p>
</footer>
