<div class="container">

  <header class="header">
    <h1><em>Pet Shop!</em></h1>
    <nav class="navbar">
      <ul><h3>About</h3></ul>
      <ul><h3>Land</h3></ul>
      <ul><h3>Air</h3></ul>
      <ul><h3>Water</h3></ul>
      <ul><h3>Contact</h3></ul>
    </nav>
  </header>

  <div class="divider"></div>

  <div class="container body">
    {{outlet}}
    {{product-list}}
    {{contact}}
  </div>

  <section class='footer'>
    <article class='footer-content-container'>
      <p class='signature'>©2016 Pet Shop!</p>
    </article>
  </section>


</div>
